body {
	padding-top: 50px;
}

.marketing {
	padding-top: 40px;
}

.center {
	margin-left: auto;
	margin-top: auto;
}

.iconos {
	margin-top: -10px;
	bottom: -6px;
}

.item img {
	margin-left: auto;
	margin-right: auto;
}

.login {
	margin-top: 50px;
	margin-bottom: 50px;
}

span.error {
	color: red;
	background: red;
}