body {
    margin-top: 80px;
}

.center {
    margin-left: auto;
    margin-top: auto;
}

.iconos {
    margin-top: -10px;
    bottom: -6px;
}

.item img {
    margin-left: auto;
    margin-right: auto;
}

.login {
    margin-top: 100px;
    margin-bottom: 50px;
}

.logo {
    height: 60px;
    margin-top: -8px;
}

span.error {
    color: red;
    background: red;
}

.navbar {
    /*background-color: #204d74;*/
    /*background-color: #51296d;*/
    background-color: #6f5499;
    height: 80px;
}

.navbar-nav {
    margin-top: 15px;
}

#navbar a {
    color: white;
    background-color: #6f5499;
}

footer{
    background-color:#6f5499;
    padding-top: 15px;
    color: white;
}

.fa{
    color: white;
}

.image-crecer {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -ms-transition: -ms-transform 1s;
    -o-transition: -o-transform 1s;
}

.image-crecer:hover {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}